# Front-end (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Back-end (Java/Spring Boot)
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.jar
backend/*.war

# IDEs e SO
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store 

# Arquivos de configuração local e segredos
.env
.env.local
.env.development
application-local.properties
